/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Reset styles */

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* HEADER */

.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

/* GALLERY */

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: fit-content;
  height: 40px;
  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background 250ms linear;
}

button:hover,
button:focus {
  background: #6c8cff;
}

input {
  height: 40px;
  max-width: 272px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
}
input:hover {
  border: 1px solid #000;
}

input:focus-visible {
  outline: 1px solid #4e75ff;
  border: none;
}

button[disabled] {
  background: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.fontAwesomeOpacity {
  opacity: 1 !important;
}

.iziToast > .iziToast-body .iziToast-icon {
  top: 30%;
}

.form,
.form input {
  max-width: 360px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.gallery {
  margin: 0 auto;
  max-width: 1128px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding: 40px 0;
}

.img-wrap {
  width: calc((100% - 48px) / 3);
  transition: scale 250ms linear;
  border: 1px solid #808080;
}

.gallery-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
}
.gallery-info-wrapper div {
  text-align: center;
}

.gallery-info-wrapper .title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery-info-wrapper .subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery-item:hover,
.gallery-item:focus {
  scale: 1.05;
}

.img-wrap img {
  aspect-ratio: 16 / 9;
  height: auto;
  object-fit: cover;
}
.load-more {
  display: block;
  margin: 0 auto;
}

/* LOADER */
.loader-wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: block;
  position: relative;
  height: 12px;
  width: 20%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #4e75ff;
  animation: 6s prog ease-in infinite;
}

@keyframes prog {
  to {
    width: 100%;
  }
}

.hide {
  display: none;
}

/* END */

/* END */